@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    font-family:"century gothic";
    /*font-family: "", sans-serif;*/
}

#content{
    padding-top: 1%;
    padding-bottom:1%
}

.colorF1{
    background-color: #eeeced;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: red;*/
}

.colorF2{
    background-color: #e2dbde;
}

#colorFont{
    color: #8a6c45;
}


#delimitadorTop{
    background-color: #494949;
    margin-bottom: 4%;
    height: 5px;
    position: relative;
}

#delimitador{
    background-color: #494949;
    /*margin-top: 4%;*/
    height: 5px;
    position: relative;
}

#imgbck{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-top: solid ;
    border-bottom:  solid;
    border-width: 7px;
    border-color: #c2a57b;
}
h1{
    /*padding-top: 7%;*/
    padding-top:   9%;
}

footer{
    /*padding-bottom: -50px;*/
}

footer div p{
    margin-top: 10%;
    margin-bottom: 10%;
    /*background: red;*/
}
