<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Matheus Oliveira Guedes - Tel: 992254307">

        <title>Assis, Cunha, Moura & Nolasco</title>
        <link rel="shortcut icon" href="../img/icone.png" >

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <!-- <link rel="stylesheet" href="../css/master.css"> -->
        <link rel="stylesheet" href="../css/master2.css">
        <link rel="stylesheet" href="../css/menu.css">


        <!-- Script's -->
        <script src="../js/bootstrap.js"></script>
        <script src="../js/jquery-3.2.1.min.js"></script>



    </head>
    <body class="colorF1">

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm" href="../index.html"><img src="../img/ACMN-Advogados.png" height="50px"alt=""></a>
                    <a class="navbar-brand visible-sm" href="../index.html"><img src="../img/ACMN-Advogados.png" height="40px"alt=""></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class=" "><a href="#contact">Contact</a></li> -->
                        <li class=" "><a id="colorFont" href="../index.html">Home</a></li>
                        <li><a id="colorFont" href="../index.html#escritorio">O escritorio</a></li>
                        <li><a id="colorFont" href="../index.html#equipe">A equipe</a></li>
                        <li><a id="colorFont" href="../index.html#parceiros">Parceiros e Clientes</a></li>
                        <li><a id="colorFont" href="../index.html#atuacao">Área de Atuação</a></li>
                        <!-- <li><a id="colorFont" href="../index.html#notícia">Notícia</a></li> -->
                        <li><a id="colorFont" href="../index.html#contato">Contato</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container-fluid" id="content">
            <div class="row">
                <div class="container">
                    <h1 id="colorFont" >A EQUIPE</h1>
                </div>
                <div class="container-fluid col-md-7 col-lg-7" id="delimitadorTop"></div>

                <!-- imagem da requipe -->
                <!-- <div class="container-fluid" id="bordaImg"></div> -->

                <img id="imgbck" class="img-responsive" src="../img/imgEquipe.jpg" width="100%" alt="">
                <div class="container-fluid" id="bordaImg"></div>
                <!-- fim imagem da requipe -->
                <div class="container-fluid colorF2">
                    <div class="col-md-2 col-lg-2 col-sm-2"></div>
                    <div class="col-md-8 col-lg-8  col-sm-8">
                        <br>
                        <p>Nossa equipe possui habilitação e experiência
                            necessárias para oferecer serviços jurídicos de alto nível, sem medir esforços
                            na busca das soluções mais apropriadas.</p>

                        <br>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2"></div>
                </div>
                <div class="container-fluid" id="content">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-2 col-lg-2 col-sm-2"> <img id="apreEquipe" class="img-circle img-responsive " src="../img/icone-pessoa.png"  alt=""> </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <p> <strong>João Paulo Milhomens Moura</strong></p>
                        <p>OAB/DF 37.966</p>
                        <p>Graduado em Direito pela Universidade Católica de Brasília-UCB</p>
                    </div>
                    <div class="col-md-2 col-lg-2"></div>
                </div>

                <div class='container-fluid colorF2' id="content">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-6 col-lg-6 col-sm-10 text-right">
                        <p> <strong> Luiz Henrique Lages Nolasco</strong></p>
                        <p>OAB/DF 39.565</p>
                        <p>Graduado em Direito pela Universidade Católica de Brasília-UCB</p>
                        <p>Pós Graduado em Direito Penal e Processual Penal pelo instituto ATAME
                            em parceria com a Universidade Cândido Mendes.</p>
                        <p>Pós Graduado em Ciências Criminais pela Faculdade Estácio de Sá em
                            parceria com Centro de Ensino Renato Saraiva.</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-sm-2"> <img id="apreEquipe" class="img-circle img-responsive " src="../img/icone-pessoa.png" alt=""> </div>
                    <div class="col-md-2 col-lg-2">
                    </div>
                    <br>
                </div>

                <div class="container-fluid" id="content">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-2 col-lg-2 col-sm-2"> <img id="apreEquipe" class="img-circle img-responsive " src="../img/icone-pessoa.png" alt=""> </div>
                    <div class="col-md-6 col-lg-6 col-sm-10">
                        <p> <strong>Fernando Luiz Cunha</strong></p>
                        <p>OAB/DF 42.795</p>
                        <p>Graduado em Ciências Militares pela Academia Militar das Agulhas Negras-AMAN </p>
                        <p>Graduado em Direito pelo Centro Universitário Salesiano de São Paulo </p>
                        <p>Pós Graduado em Gestão da Administração Pública pela Universidade Castelo Branco</p>
                        <p> Pós Graduado em Direito em Administração Pública pela Universidade do Sul de Santa Catarina</p>
                        <p> Pós Graduando em Direito Tributário e Finanças Públicas pelo Instituto Brasiliense de Direito Público-IDP</p>
                    </div>
                    <div class="col-md-2 col-lg-2 "></div>
                </div>
                <div class='container-fluid colorF2' id="content">
                    <div class="col-md-2 col-lg-2"></div>
                    <div class="col-md-6 col-lg-6 col-sm-10 text-right">
                        <p> <strong>Francisco Assis de Sousa Júnior</strong></p>
                        <p> OAB/DF 47.120</p>
                        <p>Graduado em Sistemas de Informação - Tecnologia da Informação (Brasília-DF).</p>
                        <p> Graduado em Direito pelo Instituto de Ensino Superior Planalto-IESPLAN (Brasília-DF). </p>
                        <p> Pós Graduando em Direito do Trabalho e Processo do Trabalho pela ESA - Escola Superior de</p>
                        <p>Advocacia da OAB-DF em parceria com o INFOC- Instituto Nacional de Formação Continuada</p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-2"> <img id="apreEquipe" class="img-circle img-responsive " src="../img/icone-pessoa.png" alt=""></div>
                    <div class="col-md-2 col-lg-2"></div>
                </div>



                <!--
                ███████  ██████   ██████  ████████ ███████ ██████
                ██      ██    ██ ██    ██    ██    ██      ██   ██
                █████   ██    ██ ██    ██    ██    █████   ██████
                ██      ██    ██ ██    ██    ██    ██      ██   ██
                ██       ██████   ██████     ██    ███████ ██   ██
                -->

                <footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center">
                    <div class="col-lg-4 col-md-4 col-sm-3"> </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                        <p>Desenvolvido por:</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                        <img class="img-responsive"src="../img/Technorium-logo-01.png" alt="">
                    </div>
                </footer>
                </body>
                </html>
