<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Matheus Oliveira Guedes - Tel: 992254307">

  <title>Assis, Cunha, Moura & Nolasco</title>
  <link rel="shortcut icon" href="../img/icone.png">

  <!-- Bootstrap cores CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <!-- <link rel="stylesheet" href="../css/master.css"> -->
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/menu.css">


  <!-- Script's -->
  <script src="../js/bootstrap.js"></script>
  <script src="../js/jquery-3.2.1.min.js"></script>



</head>

<body class="colorF1">

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
        <a class="navbar-brand hidden-sm" href="../index.html"><img src="../img/ACMN-Advogados.png" height="50px"alt=""></a>
        <a class="navbar-brand visible-sm" href="../index.html"><img src="../img/ACMN-Advogados.png" height="40px"alt=""></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li class=" "><a href="#contact">Contact</a></li> -->
          <li class=" "><a id="colorFont" href="../index.html">Home</a></li>
          <li><a id="colorFont" href="../index.html#escritorio">O escritorio</a></li>
          <li><a id="colorFont" href="../index.html#equipe">A equipe</a></li>
          <li><a id="colorFont" href="../index.html#parceiros">Parceiros e Clientes</a></li>
          <li><a id="colorFont" href="../index.html#atuacao">Área de Atuação</a></li>
          <!-- <li><a id="colorFont" href="../index.html#notícia">Notícia</a></li> -->
          <li><a id="colorFont" href="../index.html#contato">Contato</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <h1 id="colorFont" >PARCEIROS E CLIENTES</h1>
      </div>

      <div class="container-fluid col-md-7" id="delimitadorTop"></div>
      <div class="col-md-12">

      </div>
      <div class="col-md-2 col-sm-2"></div>

      <div class="col-md-8 col-sm-8">
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.apconsult.com.br/mvtech"><img class="img-responsive" src="../img/clientesParceiros/apriori.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href=""><img class="img-responsive" src="../img/clientesParceiros/uselimp.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="http://www.2rl.com.br/"><img class="img-responsive" src="../img/clientesParceiros/2RL.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.facebook.com/BrasiliaSelvagens/"><img class="img-responsive" src="../img/clientesParceiros/brasíliaSelvagens.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href=""><img class="img-responsive" src="../img/clientesParceiros/aguimarFerreira.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href=""><img class="img-responsive" src="../img/clientesParceiros/Technorium-logo-01.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.facebook.com/espacoinfantilalgodaodoce/"><img class="img-responsive" src="../img/clientesParceiros/algodãoDoce.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.facebook.com/olimpoconstrutora/"><img class="img-responsive" src="../img/clientesParceiros/olimpoConstrutora.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.facebook.com/parkidiomas.lagosul/"><img class="img-responsive" src="../img/clientesParceiros/park-lago-sul.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.facebook.com/ParkIdiomasSudoesteDF"><img class="img-responsive" src="../img/clientesParceiros/park-sudoeste.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href=""><img class="img-responsive" src="../img/clientesParceiros/techprinter.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.qualitycontadores.com.br/"><img class="img-responsive" src="../img/clientesParceiros/qualityContabilidade.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.vivaceodontointegrada.com.br/"><img class="img-responsive" src="../img/clientesParceiros/clínicaVivace.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.grupoconnectare.com.br/"><img class="img-responsive" src="../img/clientesParceiros/grupoConnectare.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="http://www.alrcomercio.com/"><img class="img-responsive" src="../img/clientesParceiros/alr.png" alt="" width="100%"></a>
        </div>
        <div class="col-md-3 col-sm-6" style="display:inline;padding: 10px;">
          <a href="https://www.facebook.com/premiercosmeticosbsb/"><img class="img-responsive" src="../img/clientesParceiros/premierCosméticos.png" alt="" width="100%"></a>
        </div>

      </div>
    </div>
  </div>

  <!-- content -->
  <footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center footer navbar-static-bottom">

    <div class="col-lg-4 col-md-4 col-sm-3"> </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">

      <p>Desenvolvido por:</p>

    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">

      <img class="img-responsive"src="../img/Technorium-logo-01.png" alt="">

            </div>


  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
