@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  font-family: "century gothic";
  /*font-family: "", sans-serif;*/
}

#escritorio,#parceiros,#contato,footer {
  background-color: #eeeced;
}

#equipe,#atuacao {
  background-color: #e2dbde;
}

#estatua {
  width: 100%;
  display: block;
  z-index: 1;
  position: absolute;
}

.carousel-control{
  position: absolute;
  z-index: 3;
  opacity: 0;
}

.carousel-control:active {
  opacity: 0;
}

.carousel-control:link {
  opacity: 0;
}
.carousel-control:focus {
  opacity: 0;
}
.carousel-control:hover{
 opacity: 1;}


#colorFont ,h1 {
  color: #8a6c45;
}

#fontDourado {
  color: #8a6c45;
  /*padding: 08 px;*/
  /*font-size: 74 %;*/
}

#linhaCinza{
  background-color: #494949;
  height: 5px;
  position: relative;
  margin: 20px 0px;
}

h1{
  margin-bottom: 0;
}

#linhaDouradoCarousel {
  background-color: #8a6c45;
  height: 10px;
}
#linhaCinzaCarousel{
  background-color: #494949;
  height: 10px;
  position: relative;
}

#equipe > div div div div p {
  text-align: center;
}
#atuacao > div div div div p{
  text-align: justify;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
}

#mapa {
  border: solid #c2a57b;
}

#fundoFotos {
  background: #c2a57b;
}


section {
  padding-top: 71px;
  /* padding-bottom: 25px; */
}

nav div ul li:hover {
  background: #f2ecec;
  border-radius: 25PX;
  color: #000000;
}

#botoes {
  text-align: center;
  background: #c2a57b;
  border-radius: 25PX;
  color: #ffffff;
  margin-top: 20px;
}

#botoes a:hover {
  background: #c2a57b;
  border-radius: 25PX;
  color: #ffffff;
}

#botoes a:active {
  background: #c2a57b;
  border-radius: 25PX;
  color: #ffffff;
}

#botoes a:visited {
  background: #c2a57b;
  border-radius: 25PX;
  color: #ffffff;
}

#botoes a:link {
  background: #c2a57b;
  border-radius: 25PX;
  color: #ffffff;
  text-decoration: none;
}

footer {
  padding: 10px;
}

footer div p {
  margin-top: 10%;
  margin-bottom: 10%;
  /*background: red;*/
}
