#home {
  padding-top: 71px;
}

.navbar {
  background-color: #dbdbdb;
}

.navbar-brand {
  float: left;
  /*largura do menu*/
  height: 70px;
  /*cenrtraliza o logo*/
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand img {
  /* largura da logo*/
  height: 40px;
}

.navbar-toggle {
  position: relative;
  float: right;
  /* margins's centraliza o icone de menu(visivel apenas para mobille e tables)*/
  padding: 10px 10px;
  margin-top: 17px;
  margin-right: 17px;
  margin-bottom: 17px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

nav div div ul {
  /*centraliza os item do menu*/
  padding: 10px 0px;
}
