@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  font-family: "century gothic";
  /*font-family: "", sans-serif;*/
}
body{
  background:#eeeced;
}

.fundo,footer{
  background-color: #e2dbde;
}
#bordaImg {
  border: solid #c2a57b;
}
#fontDourado {
  color: #8a6c45;
  /*padding: 08 px;*/
  /*font-size: 74 %;*/
}

#linhaCinza{
  background-color: #494949;
  height: 5px;
  position: relative;
  margin: 20px 0px;
}

h1{
  margin-bottom: 0;
}

section {
  padding-top: 71px;
}

footer {
  padding: 10px;
}

footer div p {
  margin-top: 10%;
  margin-bottom: 10%;
}
